body {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px auto 50px;
    gap: 10px;
    padding: 10px;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

header {
    grid-area: header;
    background-color: green;
}
nav {
    grid-area: nav;
    background-color: blue;
}
main {
  grid-area: main;
  background-color: red;
}
aside {
  grid-area: sidebar;
  background-color: yellow;
}
footer {
  grid-area: footer;
  background-color: purple;
}